<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity_Participate:NO.{{ act_id }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee">
</head>
<body>
    <div id="header" class="section">
        <p>第{{ act_id }}号活动参加情况</p>
    </div>
    <div class="section">
        <table>
            <a href="/activity_center/{{ act_id }}"><button class="submit" style="float: left;">返回活动详情</button></a>
            <a href="/activity_center/{{ act_id }}/add"><button class="submit" style="float: right;">添加活动参加情况</button></a>
            <p></p>
            <p></p>
        </table>
    </div>
    <div class="section">
        <form action="/activity_center/{{ act_id }}/participate" method="GET" id="search">
            <p>用户id：<input type="text" name="id"></p>
            <p>用户名：<input type="text" name="name"></p>
            <p>所属部门：<input type="text" name="department"></p>
            <p>职务：<input type="text" name="job"></p>
            <p>活动内容：<input type="text" name="content"></p>
        </form>
    </div>
    <div class="section" style="text-align: center;">
        <button type="submit" class="submit" form="search">查询</button>
        <button type="reset" class="submit" form="search">重置</button>
    </div>
    <div class="section">
        <table>
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>所属部门</th>
                <th>职务</th>
                <th>活动内容</th>
                <th>链接</th>
            </tr>
            {% for data in datas %}
                <tr>
                    {% for i in data %}
                    <td>{{ i }}</td>
                    {% endfor %}
                    <td><a href="/activity_center/{{ act_id }}/participate/{{ data[0] }}">前往修改</a> <a href="/activity_center/{{ act_id }}/participate/delete?id={{ data[0] }}">删除</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="section">
        <table>
            <tr>
                <td><a href={{ page_info.first_page_url }}>首页</a></td>
                <td><a href={{ page_info.prev_page_url }}>上一页</a></td>
                <td><a href={{ page_info.next_page_url }}>下一页</a></td>
                <td><a href={{ page_info.end_page_url }}>末页</a></td>
            </tr>
        </table>
        <p>第{{ page_info.cur_page_num }}页，共{{ page_info.max_page_num }}页。</p>
        <p>前往<input type="text" name="page" form="search">页<button type="submit" class="submit" form="search">GO</button></p>
    </div>
    <div class="copyright">
        &copy; 2020 RUCCA. All rights reserved.
    </div>
</body>
</html>