<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
</head>
<body>
    <div id="header" class="section">
        <p>{{ user.username }}的主页</p>
    </div>
    <div class="section" style="text-align: center;">
        <a href="/logout"><button class="submit">登出</button></a>
        <a href="/info_detail"><button class="submit">个人信息</button></a>
        {% if is_admin %}
            <a href="/member_list"><button class="submit">成员管理</button></a>
        {% endif %}
    </div>
    <div class="section">
        <h1><span>基本信息</span></h1>
        <table>
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>电话</th>
                <th>个人简介</th>
            </tr>
            <tr>
                <td class="selected">{{ user.username }}</td>
                <td class="selected">{{ user.name }}</td>
                {% if user.sex == 'M' %}
                    <td class="selected">男</td>
                {% else %}
                    <td class="selected">女</td>
                {% endif %}
                <td class="selected">{{ user.phone }}</td>
                <td class="selected">{{ user.description }}</td>
            </tr>
        </table>
    </div>
    <div class="section" style="text-align: center;">
        <h1><span>事务中心</span></h1>
        <p>事务中心存有之后一段时间内你可能要确认的一些事务</p>
        <a href="/issue_center"><button class="submit">前往事务中心</button></a>
    </div>
    <div class="section" style="text-align: center;">
        <h1><span>活动中心</span></h1>
        <p>在此查询、参加你喜欢的活动</p>
        <a href="/activity_center"><button class="submit">前往活动中心</button></a>
    </div>
    <div class="section" style="text-align: center;">
        <h1><span>维修资料</span></h1>
        <p>在此查询可能需要的电脑维修资料</p>
        <a href="/maintenance_center"><button class="submit">查找维修资料</button></a>
    </div>
    <div class="copyright">
        &copy; 2020 RUCCA. All rights reserved.
    </div>
</body>
</html>