<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance_Detail:NO.{{ data.id }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee">
</head>
<body>
    <div id="header" class="section">
        <p>维修资料：第{{ data.id }}号</p>
    </div>
    <div class="section" style="float: left;">
        <a href="/maintenance_center"><button type="submit" class="submit">返回维修资料中心</button></a>
    </div>
    {% if is_display == 1 %}
        <div class="section" style="float: right;">
            <form action="/maintenance_center/{{ data.id }}" method="POST">
                <button type="submit" class="submit">删除资料</button>
            </form>
        </div>
        <div class="section" style="float: right;">
            <a href="/maintenance_center/modify/{{ data.id }}"><button type="submit" class="submit">编辑资料</button></a>
        </div>
    {% endif %}
    <div class="section">
        <table>
            <tr>
                <td>资料id</td>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <td>添加人</td>
                <td>{{ data.hostname }}</td>
            </tr>
            <tr>
                <td>添加日期</td>
                <td>{{ data.date }}</td>
            </tr>
            <tr>
                <td>机器型号</td>
                <td>{{ data.model }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>具体内容</td>
            </tr>
            <tr>
                <td class="selected">{{ data.description }}</td>
            </tr>
        </table>
    </div>
    <div class="copyright">
        &copy; 2020 RUCCA. All rights reserved.
    </div>
</body>
</html>